@import url('../fonts/gotham/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Gotham";
    font-size: 14px;
}

.fondo-login {
    background: linear-gradient(0deg, rgba(46, 139, 231, 0.28), rgba(46, 139, 231, 0.28)), url('../images/fondo_login.jpg');
}

#cabecera {
    height: 70px;
}

#cabecera img {
    height: 50px;
}

#contenido {
    min-height: 100vh;
    padding: 36px 0;
}

#pie {
    padding: 36px 0
}

#login {
    width: 439px;
    height: 588px;
    border-radius: 21px;
    padding: 35px 61px
}

.titulo-login {
    color: #1976D2;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}

.form-label {
    font-family: 'Poppins';
}

.form-control, .form-select {
    border: 1px solid #1976d2;
    border-radius: 14px;
    font-size: 14px;
}

.input-group > .form-control {
    border-right-width: 0;
}

.input-group > .input-group-text {
    background: transparent;
    border: 1px solid #1976d2;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    color: #1976d2;
}

.input-group > .btn {
    padding: .375rem .75rem;
    border-radius: .25rem;
}

.btn {
    padding: 0.375rem 21px;
    border-radius: 21px;
    font-size: 14px;
}

.btn-lg {
    padding: .5rem 21px;
    font-size: 16px;
    border-radius: 10px;
}

.btn-sm {
    padding: 0.35rem 14px;
    font-size: 12px;
}

.busqueda .form-control {
    width: 300px;
}

.busqueda .btn {
    margin-left: -16px !important;
}

.btn-primary {
    background-color: #1976d2;
    border-color: #1976d2;
}

.btn-outline-primary {
    color: #1976d2;
    border-color: #1976d2;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #1976d2;
    border-color: #1976d2;
}

.card .btn-primary {
    background-color: #253e7b;
    border-color: #253e7b;
}

.btn-danger {
    background-color: #ff213a;
    border-color: #ff213a;
}

.btn-success {
    background-color: #86bc26;
    border-color: #86bc26;
}

.bg-primary {
    background-color: #253e7b !important;
}

.bg-warning {
    background-color: #fbbb01 !important;
}

.bg-danger {
    background-color: #e61e74 !important;
}

.bg-dark {
    background-color: #333 !important;
}

.nav-link {
    color: #fff !important;
}

.text-primary {
    color: #224f98 !important;
}

fieldset {
    padding: 0 72px;
}

fieldset > legend {
    color: #1976d2;
    font-family: 'Poppins';
}

.seccion {
    margin: 40px 0 0;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
    padding-bottom: 36px;
}

.card {
    background: #f8f8f8; 
    border-width: 0; 
    border-radius: 21px;
}

.card-header {
    font-weight: 500; 
    border-top-left-radius: 21px !important; 
    border-top-right-radius: 21px !important; 
    text-align: center; 
    font-size: 12px;
    padding: 5px 0;
}

.card-title, .card-title a {
    color: #1976d2; 
    font-size: 14px;
    text-decoration: none;
}

.card-img-top {
    border-top-left-radius: 21px !important; 
    border-top-right-radius: 21px !important; 
}

.card-footer {
    border-top: 0;
    background: transparent;
    padding-bottom: 14px;
}

.carousel-caption {
    top: 1.25rem;
}

.carousel-caption p {
    font-size: 30px;
}

.carousel-caption h5 {
    font-size: 30px;
}

.carousel-caption button {
    margin-top: 20px;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50%;
}

.servicio {
    width: 170px;
    height: 182px;
    margin: 0 auto;
}

[class^="imghvr-"] {
    background: transparent;
}

[class^="imghvr-"] figcaption {
    text-align: center;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 13px;
}

.breadcrumb-item {
    color: #224f98 !important;
}

.breadcrumb-item a {
    text-decoration: none;
    color: #224f98 !important;
}

.jumbotron {
    position: relative;
    height: 327px;
    border-radius: 10px;
}

.jumbotron-0 {
    height: 99px;
}

.jumbotron-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 99px;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo-curso {
    background: linear-gradient(0deg, rgba(230, 30, 117, 0.56), rgba(230, 30, 116, 0.56)), url('../images/fondo_login.jpg');
}

.fondo-video {
    background: linear-gradient(0deg, rgba(25, 118, 210, 0.56), rgba(25, 118, 210, 0.56)), url('../images/fondo_login.jpg');
}

.fondo-tarjeta {
    background: url('../images/Rectangle_4.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inscripcion {
    background: #f8f8f8;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 20px 0;
    border-radius: 10px;
}

.text-justify {
    text-align: justify;
}

.aviso {
    border: 8px solid #224f98;
}

.slick-next:before,
.slick-prev:before {
    color: #253e7b !important;
}

.slick-prev {
    left: -15px !important;
}

.slick-next {
    right: -15px !important;
}

.username {
    color: #fff;
    font-size: 10px;
    margin-bottom: 0;
}

.btn-user {
    padding: 0 10px;
    font-size: 10px;
}

.avatar {
    background: #f8f8f8;
    height: 100%;
    border-radius: 10px;
}

.nav-pills .nav-link {
    padding: 0.35rem 10px;
    border-radius: 10px;
    color: #1976d2 !important;
    border: 1px solid #1976d2 !important;
}

.nav-pills .nav-link.active {
    color: #fff !important;
    background-color: #1976d2;
}

.item-curso {
    align-items: center;
    padding: .5rem;
    border: 1px solid #1976d2;
    border-radius: 10px;
}

.banner {
    display: flex;
    align-items: center;
    height: 383px;
    background: url('../images/imagen_midis1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.check-outline-primary {
    border: 1px solid #1976d2;
    padding: 0.375rem 10px;
    border-radius: 10px;
    color: #224f98 !important;
    margin-bottom: 8px;
}

.check-outline-primary .form-check-input {
    margin-left: 0px;
    margin-right: 6px;
}

.check-outline-primary .form-check-label {
    display: inline;
}

.eventos:last-child {
    margin-bottom: 0;
}

.evento {
    display: flex;
    align-items: center;
    background: #f1f5f9;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 16px;
}

.evento .flex-shrink-0 {
    padding: 16px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    font-weight: 500;
    color: #224f98;
    min-width: 100px;
}

.evento a {
    color: #224f98;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 992px) {
    .carousel-caption h5 {
        font-size: 20px;
    }

    .carousel-caption button {
        font-size: 14px;
    }

    .item-curso > div {
        margin-bottom: 8px;
    }
}

@media (max-width: 576px) {
    #login {
        width: 100%;
        border-radius: 21px;
        padding: 35px 31px
    }

    #contenido {
        padding: 36px 10px;
    }

    fieldset {
        padding: 0;
    }

    .carousel-caption {
        top: 0;
    }

    .carousel-caption h5 {
        font-size: 12px;
    }

    .carousel-caption button {
        padding: 0.25rem 10px;
        margin-top: 0px;
        font-size: 10px;
    }

    .jumbotron-caption h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .mobile-100 {
        width: 100% !important;
    }

    .fondo-tarjeta {
        min-height: 331px;
    }

    .item-curso > div {
        margin-bottom: 8px;
    }
}