@import url('../fonts/gotham/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Gotham";
    font-size: 14px;
}

.fondo-login {
    background: linear-gradient(0deg, rgba(46, 139, 231, 0.28), rgba(46, 139, 231, 0.28)), url('../images/fondo_login.jpg');
}

#cabecera {
    height: 70px;
}

#cabecera img {
    height: 50px;
}

#contenido, #pie {
    padding: 36px 0
}

#login {
    width: 439px;
    height: 588px;
    border-radius: 21px;
    padding: 35px 61px
}

.titulo-login {
    color: #1976D2;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
}

.form-label {
    font-family: 'Poppins';
}

.form-control, .form-select {
    border: 1px solid #1976d2;
    border-radius: 14px;
    font-size: 14px;
}

.input-group > .form-control {
    border-right-width: 0;
}

.input-group > .input-group-text {
    background: transparent;
    border: 1px solid #1976d2;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    color: #1976d2;
}

.input-group > .btn {
    padding: .375rem .75rem;
    border-radius: .25rem;
}

.btn {
    padding: 0.375rem 21px;
    border-radius: 21px;
    font-size: 14px;
}

.btn-lg {
    padding: .5rem 21px;
    font-size: 16px;
}

.btn-sm {
    padding: 0.35rem 14px;
    font-size: 12px;
}

.busqueda .form-control {
    width: 300px;
}

.busqueda .btn {
    margin-left: -16px !important;
}

.btn-primary {
    background-color: #1976D2;
    border-color: #1976D2;
}

.card .btn-primary {
    background-color: #253e7b;
    border-color: #253e7b;
}

.btn-danger {
    background-color: #ff213a;
    border-color: #ff213a;
}

.bg-primary {
    background-color: #253e7b !important;
}

.bg-danger {
    background-color: #e61e74 !important;
}

.bg-dark {
    background-color: #333 !important;
}

.nav-link {
    color: #fff !important;
}

.text-primary {
    color: #224f98 !important;
}

fieldset {
    padding: 0 72px;
}

fieldset > legend {
    color: #1976d2;
    font-family: 'Poppins';
}

.seccion {
    margin: 40px 0 0;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
    padding-bottom: 36px;
}

.card {
    background: #f8f8f8; 
    border-width: 0; 
    border-radius: 21px;
}

.card-header {
    font-weight: 500; 
    border-top-left-radius: 21px !important; 
    border-top-right-radius: 21px !important; 
    text-align: center; 
    font-size: 12px;
    padding: 5px 0;
}

.card-title {
    color: #1976d2; 
    font-size: 14px;
}

.card-img-top {
    border-top-left-radius: 21px !important; 
    border-top-right-radius: 21px !important; 
}

.card-footer {
    border-top: 0;
    background: transparent;
    padding-bottom: 14px;
}

.carousel-caption {
    top: 1.25rem;
}

.carousel-caption p {
    font-size: 30px;
}

.carousel-caption h5 {
    font-size: 30px;
}

.carousel-caption button {
    margin-top: 20px;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50%;
}

.servicio {
    width: 170px;
    height: 182px;
    margin: 0 auto;
}

[class^="imghvr-"] {
    background: transparent;
}

[class^="imghvr-"] figcaption {
    text-align: center;
    border-radius: 8px;
    padding: 10px 15px;
}

@media (max-width: 575.98px) {
    #login {
        width: 100%;
        border-radius: 21px;
        padding: 35px 31px
    }

    #contenido {
        padding: 36px 10px;
    }

    fieldset {
        padding: 0;
    }

    .carousel-caption {
        top: 0;
    }

    .carousel-caption h5 {
        font-size: 12px;
    }

    .carousel-caption button {
        padding: 0.25rem 10px;
        margin-top: 0px;
        font-size: 10px;
    }
}